################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DaveApi/FileContentIndex/107353a5-5c1c-45e3-a8d2-3fa1b5606f27.vsidx
/.vs/DaveApi/FileContentIndex
